{% extends 'home.html' %}
{% block content %}
    <div class="container">
    <h1 class="alert-danger text-center p-3">Candidate Detail</h1>
    <div class="row">
    <div class="col-sm-10 shadow p-5 offset-sm-1">
    <h3 class="text-center"><u>Resume</u></h3>
    <p class="float-end">Applicantion No: {{candidate.id}}</p>
    <img src="{{candidate.profile_image.url}}" alt="" class="img-fluid img-thumbnail float-end mt-4" width="150" height="150">
    <p>Name: {{candidate.name}}</p>
    <p>Date of Birth: {{candidate.dob}}</p>
    <p>Gender: {{candidate.gender}}</p>
    <p>Address: {{candidate.locality}}, {{candidate.city}}, {{candidate.state}} - {{candidate.pin}}</p>
    <p>Mobile No: {{candidate.mobile}}</p>
    <p>Email ID: {{candidate.email}}</p>
    <p>Preferred Job Cities: {{candidate.job_city}}</p>
    <p>Attachment: <a href="{{candidate.my_file.url}}">Download File</a></p>
    <div class="text-center">
    <a href="/" class="btn btn-danger">Back to Home</a>
{% endblock content %}
    